.main{
    border: 2px solid lightblue;
    padding: 5px;
    font-weight: 640;
    margin: 2px;


}
.main-text{
    margin-left: 10px;
}

.link{
    text-decoration: none;
}
h3{
    text-align: center;
}
h2{
    text-align: center;
    
}
.header2{
    color: green;
}
#back{
    position: absolute;
    top: 2400px;
}
#carousel-text{
    position: absolute;
    top: 1840px;
    left: 640px;
}
.foot{
    font-size: 16px;
}
